body {
    font-family: Arial, sans-serif;
}

.container {
    width: 60%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-image {
    text-align: center;
}

.car-image img {
    max-width: 100%;
    height: auto;
}

.car-details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.car-details div {
    flex: 1;
}

.car-price {
    text-align: right;
    font-weight: bold;
}

.button {
    background-color: #ff6f00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 20px auto;
    width: 200px;
    text-decoration: none;
}

.rental-policy,
.important-info,
.pickup-location {
    margin: 20px 0;
}

.rental-policy ul,
.important-info ul,
.pickup-location ul {
    list-style-type: none;
    padding: 0;
}

.rental-policy ul li,
.important-info ul li,
.pickup-location ul li {
    margin-bottom: 10px;
}

.map {
    text-align: center;
    margin: 20px 0;
}